html, body {
        height: 100%;
}
body {
    background: #eee;
    font-family: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#4a4a4a;
    /* color:#fff; */
    margin: 0;
    padding: 0;
}

audio {
    position: relative;
    width:100%;
}


/* MOBILE GUIDE CSS */

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide-custom {
    text-align: center;
    font-size: 16px;
    /* background: #232f3e;  navy */
    background: #ECECEA;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow-y: hidden;
}

.title-slide {
    background: url('../images/tea_blur.jpg') center center;
    background-size: cover;
}

.img-container {
    height: 50vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0%;

    background: url('../images/garden_ex.jpg') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.banner {
    width: 80%;
    height: 100px;
    float:left;
    margin-top: 80px;
    background: rgba(241, 84, 43, 0.7);
    align-self: flex-start;
    -webkit-align-self: flex-start;
    text-align: left;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    box-shadow: 5px 5px 0 5px #ff8261;
    -moz-box-shadow: 0 5px 0 5px #ff8261;
    -webkit-shadow: 0 5px 0 5px #ff8261;

}

.main-title {
    color: white;
    margin: 0px;
    opacity: 1.0;
}

.jh-kanji {
    width: 28px;
    height: 86px;
    margin-left: auto;
    margin-right: 15px;
    background: url('../images/jh_kanji_small.png') center center;
    background-size: cover;
}

.text-box {
    text-indent: 0px;
    position:relative;
    width: 100%;
    height: auto;
    top:0;
    left:0;
    margin-top: 10px;
}

.text-box > p {
    height: auto;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    font-size: 14px;
}

.p-1 {
    border-left: 2px solid #ff8261;
}

.swiper-container-v .swiper-slide {
    height: auto;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #ff8261;
}

.title-block {
    background:rgba(0,0,0,0.6);
    width: 150px;
    height: 50px;
    text-align: center;
    color: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slide-footer {
  margin-top: 40px;
  padding: 40px 0;
  background-color: #e1e1e1;
  color: #9a9a9a;
  line-height: 30px;
  text-align: center;
  margin-bottom: 0px;
}

/* hack to fix space below footer on mobile */
/*@media only screen
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    .slide-footer {
        margin-bottom: -25px;
    }
}*/

@media only screen
and (min-width : 768px) {
    .text-box {
        padding-left: 50px;
        padding-right: 50px;
    }
    audio {
        width:80%;
    }
}


