html, body {
        position: relative;
        height: 100%;
}
body {
    background: #eee;
    font-family: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

audio {
    position: relative;
    width:100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.title-slide {
    background: url('images/tea_blur.jpg') center center;
    background-size: cover;
}

.img-container {
    height: 50%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0%;

    background: url('images/garden_ex.jpg') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.banner {
    width: 100%;
    height: 100px;
    margin-top: 80px;
    background: #f1542b;
    align-self: flex-start;
    -webkit-align-self: flex-start;
    text-align: left;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    box-shadow: 0 5px 0 5px #ff8261;
    -moz-box-shadow: 0 5px 0 5px #ff8261;
    -webkit-shadow: 0 5px 0 5px #ff8261;

}

.main-title {
    color: white;
    margin: 0px;
}

.jh-kanji {
    width: 28px;
    height: 86px;
    margin-left: auto;
    margin-right: 15px;
    background: url('images/jh_kanji_small.png') center center;
    background-size: cover;
}

.text-box {
    position:absolute;
    width: 100%;
    top:50%;
    left:0;
    overflow:auto;
    bottom: 30px;
}

.text-box > p {
    margin-left: 10px;
    margin-right: 10px;
}